:root {
  --accent-color: #2196f3;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --third-text-color: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: var(--primary-text-color);
  background-color: var(--third-text-color);
  letter-spacing: 0.03em;
}

/* rest */
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

/* Стилі для обнулення верхніх відступів у елементів  Стили для обнуления */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Класс для обнулення базових свойств у списків (ul) */
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Клас для обнулення базових свойств у силок */
.link {
  text-decoration: none;
  color: inherit;
}

/* Властивості для коректного відображення картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Властивості для обнулення курсива у address */

address {
  font-style: normal;
}

/* utils */
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* header */
.header {
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  display: inline-block;
  padding-top: 24;
  padding-bottom: 25;
  margin-right: 93px;
  color: #000000;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.part-logo {
  color: var(--accent-color);
}

.nav {
  margin-right: auto;
}

.nav-list {
  gap: 50px;
  display: flex;
  align-items: center;
}

.nav-link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.14px;
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.nav-link.active {
  color: var(--accent-color);
}

.header-list {
  display: inline-block;
  gap: 50px;
  display: flex;
  align-items: center;
}

.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

/* hero */
.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-img.jpg");
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
}

.hero-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  color: var(--third-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-btn {
  display: inline-block;
  min-width: 215;
  min-height: 50;
  padding: 10px 32px;
  border-radius: 4px;
  background-color: var(--accent-color);
  font-size: 16px;
  line-height: 1.87;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--third-text-color);
  border-style: none;
  cursor: pointer;
}

/* .hero-btn:hover,
.hero-btn:focus {
  background-color: #f5f4fa;
  color: var(--accent-color);
} */

/* about */

.about-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.about-item {
  width: calc((100% - 90px) / 4);
}

.about-title {
  margin-bottom: 10px;
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.36;
  text-transform: uppercase;
}

.about-text {
  line-height: 1.71;
}

/* features */

.features {
  padding-top: 0;
}

.section-title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--secondary-text-color);
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.features-item {
  width: calc((100% - 60px) / 3);
}

/* our team */

.team {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-item {
  width: calc((100% - 90px) / 4);
  background-color: var(--third-text-color);
  box-shadow: 0px 1px 3px #0000001f, 0px 1px 1px #00000024,
    0px 2px 1px #00000033;
  border-radius: 0px 0px 4px 4px;
}

.team-contact-wrapp {
  padding: 30px 0;
}

.team-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--secondary-text-color);
}

.team-text {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.socials-list {
  display: flex;
  justify-content: center;
  gap: 10;
}

.socials-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--third-text-color);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.footer-address {
  margin-bottom: 9px;
  line-height: 1.71;
  color: var(--third-text-color);
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-link {
  line-height: 1.71px;
  color: #ffffff99;
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
/* portfolio */

/* gallery */

.gallery-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

.pagination-item {
  display: inline-block;
}

.pagination-btn {
  font-family: inherit;
  background-color: #f5f4fa;
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--secondary-text-color);

  border-style: none;
  border-radius: 4px;
  cursor: pointer;
}

.pagination-btn:hover,
.pagination-btn:focus {
  color: var(--third-text-color);
  background-color: var(--accent-color);
}

.pagination-btn.active {
  color: var(--third-text-color);
  background-color: var(--accent-color);
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.gallery-item {
  width: calc((100% - 60px) / 3);
}

.gallery-project-name {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.gallery-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}

.gallery-text {
  font-size: 16px;
  line-height: 1.87;
}
